/* div {
	border: 1px solid black;
}

/* UNIVERSAL STYLE */

html {
	font-size: 16px;
	width: 100%;
	margin: auto;
	font-family: arial;
	font-weight: 300;
	line-height: 1.4;
	color: #4A4A4A;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	margin: 1.5rem 0;
	line-height: normal;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	margin: 1rem 0;
	line-height: 1.4;
}

h3 {
	font-size: 1.5rem;
	margin: 0.5rem 0;
	line-height: 1.4;
}

p {
	margin: 0.5rem 0;
	line-height: 1.4;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 5;
	background-color: white;
	width: 100%;
	box-shadow: 0px 1px 5px grey;
}

.header .logo-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 1rem;
}

.header .logo-container img {
	height: 3rem;
	padding: 0.5rem 0rem;
}

.header .logo-container .logo {
	align-items: baseline;
}

.header .logo-container .logo-part-1 {
	font-family: times;
	font-size: 1.25rem;
}

.header .logo-container .logo-part-2 {
	font-family: helvetica;
	font-size: 1.17rem;
	color: grey;
	opacity: 0.5;
}

.header .navigation-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 1rem;
}

.header .navigation-container li a {
	text-decoration: none;
	margin-left: 1rem; 
	font-family: arial;
	color: #4A4A4A;
	padding-bottom: 0.3rem;
}

.header .navigation-container li a:hover {
	border-bottom: 2px solid #4A4A4A;
}

/* MAIN BANNER */

.main-banner {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	background-color: #D8D8D8;
}

.main-banner .image-container {
	display: flex;
	align-items: center;
	width: 60%;
	margin: 2rem 1.5rem;
}

.main-banner .image-container img {
	width: 100%;
}

.main-banner .headline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 29%;
	margin-left: 1rem;
}

.main-banner .headline .button {
	background-color: #4A4A4A;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	margin-top: 1.5rem;
}

.main-banner .headline .button a {
	color: white;
	font-size: 1.25rem;
	text-decoration: none;
}

.main-banner .headline .button:hover {
	background-color: green;
	transition: background-color 0.2s ease-out 50ms;
	cursor: pointer;
}

/* UPDATES */

.updates {
	display: flex;
	width: 100%;
}

.updates .main-update {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 2rem 1.5rem;
}

.updates .main-update span {
	padding-left: 1rem;
	font-style: italic;
}

.updates .main-update .image-container {
	display: flex;
	align-items: center;
	width: 100%;
}

.updates .main-update .image-container img {
	width: 100%;
	overflow: hidden;
}

.updates .side-updates {
	display: flex;
	flex-direction: column;
	width: 36%;
	border-left: 1px solid #D8D8D8;
	padding: 1rem 0;
}

.updates .side-updates .update {
	display: flex;
	align-items: center;
	width: 100%;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	margin: 0.5px 0;
}

.updates .side-updates .three {
	background-color: #D8D8D8;
}

.updates .side-updates .update .image-container {
	display: flex;
	align-items: center;
	width: 35%;
	padding: 1rem;
}

.updates .side-updates .update .image-container img {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.updates .side-updates .update .teaser {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}

.updates .side-updates .update .teaser a {
	text-decoration: none;
	color: #00B7F1;
}

/* START LEARNING */

.start-learning {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	background-color: #D8D8D8;
	padding: 0 3.5rem;
	padding-bottom: 2rem
}

.start-learning h2 {
	margin-top: 2rem;
}

.courses-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%
}

.courses-container .course {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 25%;
	margin: 1rem;
}

.courses-container .course .image-container {
	display: flex;
	align-items: center;
}

.courses-container .course .image-container img {
	width: 100%
}

.courses-container .course .description {
	margin-bottom: 1.5rem;
	margin-left: 1rem;
}

/* THESIS EXHIBIT */

.thesis-exhibit {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.thesis-exhibit .title {
	width: 100%;
	text-align: center;
}

.thesis-exhibit .content {
	display: flex;
	width: 100%;
}

