/*div {
	border: 1px solid black;
}

/* UNIVERSAL STYLE */

html {
	font-size: 16px;
	width: 100%;
	margin: auto;
	font-family: arial;
	font-weight: 300;
	line-height: 1.4;
	color: #787878;
}

h1,
h2,
h3 {
	color: #4A4A4A; 
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	margin: 1.5rem 0;
	line-height: normal;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	padding-top: 2rem;
	line-height: 1.4;
}

h3 {
	font-size: 1.5rem;
	margin-top: 1rem;
	line-height: 1.4;
}

p {
	margin-top: 0.5rem;
	line-height: 1.4;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
video {
	width: 100%;
}

.image-container,
.video-container {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.presenter {
	display: flex;
	width: 100%;
	height: 42rem;
}

.focus-item {
	display: flex;
	flex-direction: column;
	margin: 2rem 1.5rem;
	width: 60%;
}

.selector {
	display: flex;
	flex-direction: column;
	width: 36%;
	padding: 1rem 0;
	overflow: scroll;
}

.item {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0.5px 0;
}

.item-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}

.item .image-container {
	width: 35%;
	padding: 1rem;
}

.item:hover {
	background-color: #D8D8D8;
	cursor: pointer;
}

.item:hover img{
	transform: scale(1.05);
	transition: transform 0.2s ease-out 0.1s;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 5;
	background-color: white;
	width: 100%;
	box-shadow: 0px 1px 5px grey;
}

.header .logo-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 1rem;
}

.header .logo-container img {
	height: 3rem;
	padding: 0.5rem 0rem;
}

.header .logo-container .logo {
	align-items: baseline;
}

.header .logo-container .logo-part-1 {
	font-family: times;
	font-size: 1.25rem;
}

.header .logo-container .logo-part-2 {
	font-family: helvetica;
	font-size: 1.17rem;
	color: grey;
	opacity: 0.5;
}

.header .navigation-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 1rem;
}

.header .navigation-container li a {
	text-decoration: none;
	margin-left: 1rem; 
	font-family: arial;
	color: #4A4A4A;
	padding-bottom: 0.3rem;
}

.header .navigation-container li a:hover {
	border-bottom: 2px solid #4A4A4A;
	cursor: pointer;
}

/* MAIN BANNER */

.main-banner {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	background-color: #D8D8D8;
}

.main-banner .image-container {
	width: 60%;
	margin: 2rem 1.5rem;
}

.main-banner .headline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 29%;
	margin: 2rem 1rem;
}

.main-banner .headline .button {
	background-color: #30B531;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	margin-top: 1.5rem;
}

.main-banner .headline .button span {
	color: white;
	font-size: 1.25rem;
}

.main-banner .headline .button:hover {
	box-shadow: 0px 3px 5px grey;
	transition: box-shadow 0.2s ease-out 50ms;
	cursor: pointer;
}

/* UPDATES */

.presenter .focus-item .description span {
	display: block;
	margin-top: 1.5rem;
	font-size: 0.8rem;
	padding-left: 1rem;
	font-style: italic;
}

/* START LEARNING */

.start-learning {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	background-color: #D8D8D8;
	padding: 0 3.5rem;
	padding-bottom: 2rem
}

.courses-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 2rem;
}

.courses-container .course {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 25%;
	margin: 1rem;
	margin-top: 0;
}

.courses-container .course .image-container img:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease-out;
	cursor: pointer;
}

.courses-container .course .description {
	margin: 0 1rem;
	margin-bottom: 1.5rem;
}

.courses-container .course .description h3:hover {
	padding-left: 0.5rem;
	transition: padding-left 0.1s ease-out;
	cursor: pointer;
}

.courses-container .course .description .headline:hover {
	padding-left: 0.5rem;
	transition: padding-left 0.1s ease-out;	
	cursor: pointer;
}

/* THESIS EXHIBIT */

.thesis-exhibit-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.thesis-exhibit-container .title {
	width: 100%;
	text-align: center;
}

/* FOOTER */

.footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #D8D8D8;
	padding: 1rem 2rem;
	height: 5rem;
}

.footer .terms ul {
	display: flex;
}

.footer .terms a {
	text-decoration: none;
	color: #00B7F1;
	margin-left: 1rem;
}



